@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Localizer["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["Development Mode"]</h3>
<p>
    @Localizer["Swapping"] to <strong>@Localizer["Development"]</strong> @Localizer["environment will display more detailed information about the error that occurred."]
</p>
<p>
    <strong>@Localizer["The Development environment shouldn't be enabled for deployed applications."]</strong>
    @Localizer["It can result in displaying sensitive information from exceptions to end users."]
    @Localizer["For local debugging, enable the"] <strong>@Localizer["Development"]</strong> @Localizer["environment by setting the"]<strong>ASPNETCORE_ENVIRONMENT</strong> @Localizer["environment variable to"] <strong>@Localizer["Development"]</strong>
    @Localizer["and restarting the app."]
</p>
