@model IEnumerable<Tuple<CompanyApplicationDto, CompanyDto, ApplicationDto>>

@{
    ViewBag.Title = "Company Applications";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@Localizer["CompanyApplications"]</h4>
                <p class="text-muted mb-0">
                    @Localizer["ActiveCompaniesApplications"]
                </p>
            </div>
            @if (User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "CreateCompanyApplication"))
            {
                <div class="card-body">
                    <div class="button-items">
                        <a asp-action="Create" class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis">@Localizer["AddNewCompanyApplication"]</a>
                    </div>
                </div>
            }

            <div class="card-body">
                <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable-buttons_length">
                                <label>
                                    @Localizer["Show"]
                                    <select name="datatable-buttons_length" aria-controls="datatable-buttons" class="form-select form-select-sm" onchange="updatePageSize(this.value)">
                                        @if (ViewBag.PageSize == 10)
                                        {
                                            <option selected value="10">10</option>
                                        }
                                        else
                                        {
                                            <option value="10">10</option>
                                        }

                                        @if (ViewBag.TotalRecords >= 20)
                                        {
                                            @if (ViewBag.PageSize == 20)
                                            {
                                                <option selected value="20">20</option>
                                            }
                                            else
                                            {
                                                <option value="20">20</option>
                                            }
                                        }
                                        @if (ViewBag.TotalRecords >= 50)
                                        {
                                            @if (ViewBag.PageSize == 50)
                                            {
                                                <option selected value="50">50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                        }
                                        @if (ViewBag.TotalRecords >= 100)
                                        {
                                            @if (ViewBag.PageSize == 100)
                                            {
                                                <option selected value="100">100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                        }
                                    </select> @Localizer["entries"]
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>@Localizer["CompanyName"]</th>
                                        <th>@Localizer["ApplicationName"]</th>
                                        @if (User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "EditCompanyApplication") ||
                                        User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "DeleteCompanyApplication"))
                                        {
                                            <th>@Localizer["Actions"]</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Item2.Name</td>
                                            <td>@item.Item3.Name</td>
                                            @if (User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "EditCompanyApplication") ||
                                           User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "DeleteCompanyApplication"))
                                            {
                                                <td>
                                                    @if (User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "EditCompanyApplication"))
                                                    {
                                                        <a asp-action="Edit" asp-route-id="@item.Item1.Id" class="btn btn-primary">@Localizer["Edit"]</a>
                                                    }
                                                    @if (User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "DeleteCompanyApplication"))
                                                    {
                                                        <button type="button" class="btn btn-danger" onclick="confirmDelete('@item.Item1.Id')">@Localizer["Delete"]</button>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">
                                @Localizer["Showing"] @ViewBag.PageNumber @Localizer["to"] @ViewBag.PageSize @Localizer["of"] @ViewBag.TotalRecords @Localizer["entries"]
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalRecords / ViewBag.PageSize); i++)
                                    {
                                        <li class="paginate_button page-item @(ViewBag.PageNumber == i ? "active" : "")">
                                            <a class="page-link" href="?pageNumber=@i&pageSize=@ViewBag.PageSize">@i</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDelete(Id) {
            Swal.fire({
                title: '@Localizer["AreYouSure"]',
                text: "@Localizer["DeleteWarning"]",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '@Localizer["YesDelete"]',
                cancelButtonText: '@Localizer["NoCancel"]',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete", "CompanyApplication")/' + Id,
                        type: 'POST',
                        success: function (response) {
                            Swal.fire(
                                '@Localizer["Deleted"]',
                                '@Localizer["DeleteSuccess"]',
                                'success'
                            ).then(() => {
                                location.reload(); // Sayfayı yeniden yükle
                            });
                        },
                        error: function () {
                            Swal.fire(
                                '@Localizer["Error"]',
                                '@Localizer["DeleteError"]',
                                'error'
                            );
                        }
                    });
                }
            });
        }

        function updatePageSize(pageSize) {
            window.location.href = `?pageNumber=1&pageSize=${pageSize}`;
        }
    </script>
}
