@model ApplicationDto

@{
    ViewBag.Title = "Uygulama Düzenle";
}

<h2>Uygulama Düzenle</h2>

<div class="form-group">
    <label for="Name">@Localizer["Ad"]</label>
    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
</div>
<div class="form-group">
    <label for="DbConnection">@Localizer["Veritabanı Bağlantısı"]</label>
    <input type="text" class="form-control" id="DbConnection" name="DbConnection" value="@Model.DbConnection" required />
</div>
<button type="button" name="button" id="update" class="btn btn-primary" onclick="myFunc()">@Localizer["Güncelle"]</button>
<a asp-action="Index" class="btn btn-secondary">@Localizer["İptal"]</a>

@section Scripts {
    <script>
        function myFunc() {
            console.log("girdim");
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Güncelleme işlemi yapmak üzeresiniz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Evet, Güncelle!',
                cancelButtonText: 'Hayır, Güncellemeyi İptal Et',
                reverseButtons: true
            }).then(function (result) {
                if (result.isConfirmed) {
                    // Form verilerini hazırla
                    var application = {
                        Id: '@Model.Id',
                        Name: document.getElementById("Name").value, // .value ekleniyor
                        DbConnection: document.getElementById("DbConnection").value // .value ekleniyor
                    };
                    console.log("db:" + application.DbConnection);
                    console.log("Name:" + application.Name)
                    console.log("id:" + application.Id);
                    // AJAX isteği ile verileri gönder
                    $.ajax({
                        url: '@Url.Action("Edit", "Application")',
                        type: 'POST',
                        data: JSON.stringify(application),
                        contentType: 'application/json',
                        success: function (response) {
                            Swal.fire(
                                'Güncellendi!',
                                'Güncelleme başarıyla tamamlandı.',
                                'success'
                            ).then(() => {
                                window.location.href = '@Url.Action("Index", "Application")';
                            });
                        },
                        error: function () {
                            Swal.fire(
                                'Hata!',
                                'Güncelleme sırasında bir hata oluştu.',
                                'error'
                            );
                        }
                    });
                }
            });
        }
    </script>
}
